.topcontainer {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
}

p {
  line-height: 1.5;
}

.bodyindex {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
  font-size: 20px;
}

.first_p {
  margin-bottom: 0;
  color: #007065;
  font-size: 1.5rem;
}

.cloud {
  position: absolute;
  left: 150px;
  bottom: 350px;
}

.cloud1 {
  position: absolute;
  right: 150px;
  top: 20px;
}

.mountain {
  position: relative;
  top: 55px;
}

.h1img {
  width: 300px;
}

.paragraphBio {
  width: 400px;
  margin: auto;
}

.h2middle {
  color: #007065;
}

.mypic {
  margin-top: 20px;
  width: 200px;
}

.h2skills {
  color: #007065;
}

.imgdata {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.middle-container {
  margin: 100px 0;
}

.h3Middle {
  color: #007065;
}

.h3Middle1 {
  color: #007065;
}

.imgsearch {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.hrdotted {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
}


.contactmessage {
  width: 40%;
  margin: 30px auto 80px
}



.button-mailme {
  background: -moz-linear-gradient(center top, #11cdd4 5%, #11cdd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11cdd4');
  background-color: #007065;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 0;
  border: 1px solid #ffffff;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  height: 54px;
  line-height: 54px;
  width: 154px;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 0px 0px #ffffff;
}

.button-mailme:hover {

  background: -moz-linear-gradient(center top, #11cdd4 5%, #11cdd4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11cdd4');
  background-color: #11cdd4;
}

.button-mailme:active {
  position: relative;
  top: 1px;
}
.bottom-container{
  background: #007065;
  padding: 50px 0 20px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
